<template>
    <ai-dialog>
        <ai-dialog-body>
            <h2>Elegí tu ${articulo.nombre}</h2>
            <div class="list-group">
                <a href="#" repeat.for="articulo of articulo.subs"
                   class="list-group-item"
                   click.trigger="controller.ok(articulo)"
                >
                    ${articulo.nombre}
                </a>
            </div>
        </ai-dialog-body>

        <ai-dialog-footer>
            <button click.delegate="controller.cancel()">Cancelar</button>
        </ai-dialog-footer>
    </ai-dialog>
</template>