<template>
    <require from="../../styles/menu.css"></require>
    <require from="../components/carrito"></require>
    <require from="../components/articulos"></require>
    <div class="container-fluid">
        <div class="col-sm-12 col-md-9 menu">
            <articulos
                    articulos.bind="articulos"
                    carro.bind="carroService">
            </articulos>
        </div>
        <div class="hidden-sm-down col-xs-12 col-sm-3">
            <carrito carro.bind="carroService"></carrito>
        </div>
    </div>
</template>