.card>img {
    /*max-width: 113px;*/
}
.articulo-nombre{word-wrap: normal; max-width: 80px}
.img-articulo-carrito {
    /*max-width: 10% !important;*/
    horiz-align: center;
    text-align-all: center;
    /*float: left;*/
}
/*.card{float: left;}*/