.card-img-top {
    max-width: 150px;
    max-height: 110px;
}

.main-block {
    height: 140px !important;
    position: relative
}

articulo-menu {
    /*position: relative*/
}

.btm {
    /*position: absolute;*/
    /*bottom: 1px;*/
    /*width: 100%;*/
    /*background-color: #1f7e9a;*/
    /*max-height: 20px;*/
    text-align: right;
    line-height: 0px;
    /*float: right;*/
    padding-top: 10px;
}
.btm p{
    margin-top: 0px;
}
/*.card-block{font-family: "Noto Sans";font-weight: 600;}*/
.card {
    cursor: pointer
}