<template>
    <require from="./styles/articulos.css"></require>
    <require from="./articulo-menu"></require>
    <require from="./debug"></require>
    <!--<div class="row">-->
        <!--<div class="col-xs-6">-->
            <!--<debug obj.bind="menu.carroService.ver"></debug>-->
        <!--</div>-->
        <!--<div class="col-xs-6">-->
            <!--<debug obj.bind="menu.carroService.articulos"></debug>-->
        <!--</div>-->
    <!--</div>-->
    <div class="card-columns">
        <div class="card text-center "
             repeat.for="articulo of articulos">
            <articulo-menu
                    articulo.bind="articulo"
                    click.delegate="addArticuloToCarrito(articulo)">
            </articulo-menu>
        </div>
    </div>
</template>