<template>
    <require from="./styles/articulo-menu.css"></require>
    <require from="../services/date-converter"></require>
    <div class="card-block main-block">
        <img if.bind="articulo.imagenPath" class="card-img-top center-block" src.bind="articulo.imagenPath" alt="${articulo.imagenPath}">
        <span if.bind="! articulo.imagenPath" class="card-img-top center-block">NO encontrado: ${articulo.imagePath}</span>
    </div>
    <!--<div class="card-block ">-->
    <!--<p class="card-text center-block text-center">${articulo.nombre}</p>-->
    <!--</div>-->
    <div class="card-block btm">
        <p class="card-text">
            <small>$ ${articulo.precio_venta}</small>
        </p>
    </div>
</template>