<template>
    <style>
        .carrito a.list-group-item {
            position: relative
        }

        .carrito a .remove {
            position: absolute;
            right: 2px;
            top: 2px;
        }
        .carrito .list-group-item{padding-bottom: 4px; padding-left: 10px; padding-right: 10px; padding-top: 20px}
        .carrito a .articulo-line{margin-top:10px; padding-bottom: 3px}
        .carrito i{color: red}
    </style>
    <require from="./styles/articulo-carrito.css"></require>
    <a href="#" class="list-group-item clearfix">
        <i class="remove fa fa-close" click.delegate="remove(articulo)"></i>
        <div class="articulo-line">
            <small class="articulo-nombre pull-xs-left">${articulo.nombre} ${articulo.subNombre}</small>
            <small class="pull-xs-right">$ ${articulo.precio_venta}</small>
        </div>
    </a>
</template>