<template>
    <require from="./styles/carrito.css"></require>
    <require from="./articulo-carrito"></require>
    <div class="list-group carrito">
        <articulo-carrito
                repeat.for="articulo of carro.articulos"
                articulo.bind="articulo">
        </articulo-carrito>
        <a href="#" class="list-group-item clearfix">
            <span class="pull-xs-left">Total</span>
            <span class="pull-xs-right">$ ${carro.total}</span>
        </a>
        <a click.delegate="carro.cierra()" if.bind="carro.articulos.length > 0" class="col-xs-12 btn btn-lg btn-danger ">Cierra e Imprime</a>
    </div>
</template>