<template bindable="carroService,router, auth">
    <require from="bootstrap/css/bootstrap.css"></require>
    <require from="./log"></require>
    <nav class="navbar navbar-light bg-faded">
        <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#navbar-header"
                aria-controls="navbar-header">
            ☰
        </button>
        <div class="collapse navbar-toggleable-xs" id="navbar-header">
            <a class="navbar-brand" href="#">IAE</a>
            <ul class="nav navbar-nav">
                <li repeat.for="row of router.navigation" class="nav-item ${row.isActive ? 'active' : ''}">
                    <a class="nav-link" href.bind="row.href">${row.title} <span class="sr-only">(current)</span></a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="nav-item pull-xs-right">
                    <a class="nav-link active " href="/#" click.delegate="auth.logout()">
                        <span class="">
                            Salir&nbsp;
                            ${auth.loggedIn ? '('+auth.user.nombre+')':''}
                            <i if.bind="!router.isNavigating" class="fa fa-power-off"></i>
                            <i if.bind="router.isNavigating" class="fa fa-spinner fa-spin"></i>
                        </span>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    <span>${carroService}</span>

</template>