<template>
    <require from="./components/nav-bar.html"></require>
    <nav-bar carroService.bind="carroService" router.bind="router" auth.bind="auth"></nav-bar>
    <div class="page-host">
        <router-view></router-view>
    </div>
    <footer class="footer">
        <div class="container-fluid">
            <span class="text-muted pull-xs-right">desarrollado por jpsala@gmail.com</span>
        </div>
    </footer>
</template>
