<template>
    <require from="./components/carrito"></require>
    <!--<require from="../styles/menu.css"></require>-->
    <div class="container-fluid">
        <div class="row">
            <carrito carro.bind="carroService"></carrito>
        </div>
    </div>
</template>