.menu-item {
    text-align: center;
    width: 200px!important;
    height: 100px!important;
}
.menu-li{
    display: block;
    float: left;
    width: 200px!important;
}

ul{
   list-style: none;
}